<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nesciunt! Corporis dolores harum eveniet adipisci. Culpa ad magnam sequi voluptatibus!</p>
        <p>Quae velit nisi voluptatum ratione placeat reprehenderit facere maiores aliquid debitis dolorum aspernatur cum commodi rerum similique quas, fugiat ex.</p>
        <p>Hic expedita praesentium quo nisi magni qui, accusamus voluptatibus atque harum nihil voluptatum. Eius cupiditate repudiandae explicabo deleniti distinctio nobis.</p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>